{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <script src="https://code.jquery.com/jquery-3.6.4.js"
        integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <style>

    </style>
</head>

<body>
    {% block content %}
    <style>
        ::selection {
            color: #fff;
            background: #137200d3;
        }

        .filterDiv {
            /* float: left; */
            /* background-color: #2196F3; */
            /* color: #ffffff; */
            /* width: 100px; */
            /* line-height: 100px; */
            text-align: center;
            /* margin: 2px; */
            display: none;
        }

        .show {
            display: block;
        }

        .container {
            /* margin-top: 20px; */
            /* overflow: hidden; */
        }

        /* Style the buttons */
        .btn0 {
            border: none;
            outline: none;
            padding: 12px 16px;
            margin: 0 5px;
            border-radius: 10px;
            background-color: #137200;
            cursor: pointer;
        }

        .btn0:hover {
            background-color: #2aa710;
        }

        .btn0.activee {
            background-color: #2aa710;
            color: white;
        }
    </style>
    <div class="container">
        {% if user.is_authenticated %}
        <h3><span name="groundName">{{ selectedGround.name }},</span> {{ selectedGround.address }}</h3>
        <p>Phone: {{ selectedGround.phone }}</p>
        <p>Back to <a href="{% url 'bookIt' %}">Bookit</a></p>
        <div>
            <h2 style="text-align: center; color: #137200;">Get Your Turf Book</h2>
        </div>
        <br />
        <br />
        <br />
        <div class="card p-4 shadow">
            <form method="POST" action="{% url 'formSub' selectedGround.name %}" onsubmit="handle_form_submission()">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="exampleFormControlInput1">Name</label>
                        <input type="text" name="name" class="form-control" id="exampleFormControlInput1"
                            placeholder="Enter your Team name" value="{{ user.first_name }}" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="exampleFormControlInput2">Email address</label>
                        <input type="email" name="email" class="form-control" id="exampleFormControlInput2"
                            placeholder="name@example.com">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="exampleFormControlInput3">Phone No.</label>
                        <input type="tel" name="contactNo" class="form-control" id="exampleFormControlInput3"
                            placeholder="Enter your contact no." maxlength="10" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="datefield">Select the day</label>
                        <input id="datefield" placeholder="" required pattern="" title="" name="dateSelected"
                            type='hidden' class="form-control">
                        <div id="myBtnContainer" style="display: flex;">
                            <p style="color: white;" class="btn0 activee" onclick="filterSelection('today')">
                                Today</p>
                            <p style="color: white;" class="btn0" onclick="filterSelection('tomorrow')">
                                Tomorrow</p>
                            <p style="color: white;" class="btn0" onclick="filterSelection('dayaftom')">Day
                                After Tomorrow</p>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleFormControlSelect1">Select Your Favourable Slot</label>
                        <div class="today filterDiv">
                            <select class="form-control"  id="exampleFormControlSelect1" >
                                <option value="" disabled selected>Select your option</option>
                                {% for x in avlSlotsToday %}
                                <option name="slotSelected1">{{ x.start_time }} to {{ x.end_time }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="tomorrow filterDiv">
                            <select class="form-control"   id="exampleFormControlSelect2" >
                                <option value="" disabled selected>Select your option</option>
                                {% for x in avlSlotsTomorrow %}
                                <option name="slotSelected1">{{ x.start_time }} to {{ x.end_time }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="dayaftom filterDiv">
                            <select class="form-control"   id="exampleFormControlSelect3" >
                                <option value="" disabled selected>Select your option</option>
                                {% for x in avlSlotsDayfT %}
                                <option name="slotSelected1">{{ x.start_time }} to {{ x.end_time }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="exampleFormControlTextarea1">Description</label>
                        <textarea class="form-control" name="description" placeholder="Enter your message"
                            id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="exampleFormControlInput4">Amount (INR)</label>
                        <input class="form-control" id="exampleFormControlInput4" type="text" placeholder="₹550/-"
                            readonly>
                    </div>
                </div>
                <button type="submit" id="rzp-button1 btnSubmit" name="submitbooking" class="btn btn-primary" onclick=""
                    onsubmit="return handle_form_submission()">Pay</button>
                <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

            </form>
            {% else %}
            <div style="text-align: center; margin-top: 150px;">
                <h3><img src="/static/images/loginerr.png" width="40em" height="40em"> </img>Sorry, You are not
                    accessible to
                    this page right now!</h3>
                <p style="font-size: 1.2rem; font-weight: 400;"><a href="{% url 'login' %}">Login required</a></p>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- <script>
        var today = new Date();
        var tomorrow = new Date(today.getTime() + (24 * 60 * 60 * 1000));
        var maxDate = tomorrow.toISOString().slice(0, 10);
        var minDate = today.toISOString().slice(0, 10)
        console.log(today)
        document.getElementById("datefield").setAttribute("min", minDate);
        document.getElementById("datefield").setAttribute("max", maxDate);
    </script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Event listener for select elements
            $('select').focus(function () {
                // Remove name attribute from all select elements
                $('select').removeAttr('name');

                // Set the name attribute for the focused select element
                $(this).attr('name', 'slotSelected').attr('required','required');
                
            });
        });
    </script>
    <script>
        filterSelection("today")
        function filterSelection(c) {
            var x, i;
            x = document.getElementsByClassName("filterDiv");
            if (c == "all") c = "";
            for (i = 0; i < x.length; i++) {
                removeClass(x[i], "show");
                if (x[i].className.indexOf(c) > -1) addClass(x[i], "show");
            }
            const dateField = document.getElementById('datefield');
            console.log("c: " + c);
            if (c === 'today') {
                const today = new Date().toISOString().slice(0, 10);
                dateField.value = today;
            } else if (c === 'tomorrow') {
                const tomorrow = new Date();
                tomorrow.setDate(tomorrow.getDate() + 1);
                const tomorrowFormatted = tomorrow.toISOString().slice(0, 10);
                dateField.value = tomorrowFormatted;
            } else if (c === 'dayaftom') {
                const dayAfterTomorrow = new Date();
                dayAfterTomorrow.setDate(dayAfterTomorrow.getDate() + 2);
                const dayAfterTomorrowFormatted = dayAfterTomorrow.toISOString().slice(0, 10);
                dateField.value = dayAfterTomorrowFormatted;
            }
            console.log(dateField.value)
        }

        function addClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) == -1) { element.className += " " + arr2[i]; }
            }
        }

        function removeClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                }
            }
            element.className = arr1.join(" ");
        }

        // Add active class to the current button (highlight it)
        var btnContainer = document.getElementById("myBtnContainer");
        var btns = btnContainer.getElementsByClassName("btn0");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("activee");
                var inpField = document.getElementById("datefield");
                current[0].className = current[0].className.replace(" activee", "");

                this.className += " activee";

            });
        }
    </script>
    </div>
    <script>
        function handle_form_submission() {
            alert('Form is submitted and your slot has been booked!');
            return true;
        }
    </script>
    {% endblock %}

</body>

</html>